.legendday {
            font-size: 12px;
}

.legend {
    font-size: 12px;
}

rect {
    cursor: pointer;
    stroke-width: 2;
}

rect.select1{
    fill: blue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font-size: 9pt;
    font-family: "Georgia","Times New Roman";
    background: lightsalmon;

}