html, body {
  height: 100%;
  width: 100%;
}

.menu {
  height: 5%;
  padding: 10px;
}

.main {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;  
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#nRadius {
  position: absolute;
  width: 80%;
  bottom: 10%;
  left: 10%;
  margin: 0 auto;
}