.menu {
  height: 5%;
}

.main {
  height: 95%;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.legendday {
            font-size: 12px;
        }
		
    .legend {
            font-size: 12px;
        }	
	 div.tooltip {
            position: absolute;
            text-align: center;
            padding: 2px;
            font-size: 12pt;
			font-family: "Georgia","Times New Roman";
            background: lightsteelblue;

        }
	
	.path {
		fill:none;
	}
		
		
		
.path:hover {
	stroke: #fff;
	stroke-width: 2px;
 }
	
	